In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
import os

In [ ]:
os.chdir('/content/drive/My Drive/JantaHack')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
from collections import Counter
#scikit learn  library
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
#Use LogisticRegression for classifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
#oversampling
from imblearn.over_sampling import SMOTE

import warnings
warnings.filterwarnings('ignore')

import os

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
csv = pd.read_csv('train1_Challenge.csv')

In [ ]:
csv1 = pd.read_csv('train1_Challenge.csv')
csv1['gender'].dtypes

dtype('O')

In [ ]:
Y = csv['gender'].map({'female':1,'male':0})

In [ ]:
csv = csv.drop(columns=['gender'])

In [ ]:
dataset_test = pd.read_csv('test1_Challenge.csv')

In [ ]:
dataset_test.dtypes

session_id     object
startTime      object
endTime        object
ProductList    object
dtype: object

In [ ]:
dataset_test

     session_id  ...                                        ProductList
0        u12112  ...                       A00002/B00003/C00006/D19956/
1        u19725  ...                       A00002/B00005/C00067/D02026/
2        u11795  ...                       A00002/B00002/C00004/D12538/
3        u22639  ...  A00002/B00003/C00079/D22781/;A00002/B00003/C00...
4        u18034  ...                       A00002/B00001/C00010/D23419/
...         ...  ...                                                ...
4508     u10032  ...                       A00001/B00078/C00001/D19956/
4509     u10032  ...                       A00001/B00080/C00001/D19956/
4510     u10032  ...                       A00001/B00082/C00001/D19956/
4511     u10032  ...                       A00001/B00083/C00001/D19956/
4512     u10032  ...                       A00001/B00085/C00001/D19956/

[4513 rows x 4 columns]

In [ ]:
csv

      session_id  ...                                        ProductList
0         u16159  ...  A00002/B00003/C00006/D28435/;A00002/B00003/C00...
1         u10253  ...  A00001/B00009/C00031/D29404/;A00001/B00009/C00...
2         u19037  ...                       A00002/B00001/C00020/D16944/
3         u14556  ...  A00002/B00004/C00018/D10284/;A00002/B00004/C00...
4         u24295  ...  A00001/B00001/C00012/D30805/;A00001/B00001/C00...
...          ...  ...                                                ...
10497     u22508  ...                       A00002/B00002/C00007/D18028/
10498     u17087  ...  A00003/B00012/C00131/D09453/;A00003/B00012/C00...
10499     u23137  ...  A00002/B00001/C00010/D02309/;A00002/B00002/C00...
10500     u10032  ...                       A00001/B00091/C00001/D19956/
10501     u10032  ...                       A00001/B00088/C00001/D19956/

[10502 rows x 4 columns]

In [ ]:
def extract_product(str):
    if ";"  in str:
        prd_lst = str.split(";")
        count_item = len(prd_lst)
        first_lv1 = prd_lst[0].split("/")[0]
        first_lv2 = prd_lst[0].split("/")[1]
        lv1_lst =[]
        lv2_lst =[]
        for item in prd_lst:
            lv1_lst.append(item.split("/")[0])
            lv2_lst.append(item.split("/")[1])
        unique_lv1 = len(set(lv1_lst))
        unique_lv2 = len(set(lv2_lst))
        most_freq_lv1 =  max(lv1_lst, key=Counter(lv1_lst).get)        
    else:
        lv_lst = str.split("/")
        first_lv1 = lv_lst[0]
        first_lv2 = lv_lst[1]
        count_item = 1
        unique_lv1 = 1
        unique_lv2 = 1
        most_freq_lv1 = first_lv1
    return (count_item,first_lv1,first_lv2,unique_lv1,unique_lv2,most_freq_lv1)    

#Feature Extraction :
new_col = ('NumProduct','FirstA','FirstB','UniqueA','UniqueB','MostA')      
new_col_lst = csv['ProductList'].apply(lambda x: extract_product(x))    
new_col_df = pd.DataFrame(new_col_lst.tolist(),columns =new_col)

data = pd.concat([csv, new_col_df], axis=1)
# Time feature extraction
data['startTime'] = pd.to_datetime(data['startTime'])
data['endTime'] = pd.to_datetime(data['endTime'])
data['duration'] = data['endTime'] - data['startTime']
data['duration'] = data['duration'].astype('timedelta64[m]')
data['weekday'] = data['startTime'].dt.dayofweek
data['hour_24h'] = data['startTime'].dt.hour

drop_lst = ['session_id', 'startTime', 'endTime', 'ProductList']

data = data.drop(drop_lst,axis =1 )
print(data.head())

   NumProduct  FirstA  FirstB  UniqueA  ...   MostA duration  weekday  hour_24h
0           4  A00002  B00003        1  ...  A00002      1.0        0        18
1           7  A00001  B00009        1  ...  A00001      6.0        1        14
2           1  A00002  B00001        1  ...  A00002      0.0        6        15
3           3  A00002  B00004        1  ...  A00002      3.0        6         2
4           2  A00001  B00001        1  ...  A00001      2.0        2        16

[5 rows x 9 columns]

In [ ]:
new_col_test = ('NumProduct','FirstA','FirstB','UniqueA','UniqueB','MostA')      
new_col_lst_test = dataset_test['ProductList'].apply(lambda x: extract_product(x))    
new_col_df_test = pd.DataFrame(new_col_lst_test.tolist(),columns =new_col_test)

data_test = pd.concat([dataset_test, new_col_df_test], axis=1)
# Time feature extraction
data_test['startTime'] = pd.to_datetime(data_test['startTime'])
data_test['endTime'] = pd.to_datetime(data_test['endTime'])
data_test['duration'] = data_test['endTime'] - data_test['startTime']
data_test['duration'] = data_test['duration'].astype('timedelta64[m]')
data_test['weekday'] = data_test['startTime'].dt.dayofweek
data_test['hour_24h'] = data_test['startTime'].dt.hour

drop_lst_test = ['session_id', 'startTime', 'endTime', 'ProductList']

data_test = data_test.drop(drop_lst_test,axis =1 )
print(data_test.head())

   NumProduct  FirstA  FirstB  UniqueA  ...   MostA duration  weekday  hour_24h
0           1  A00002  B00003        1  ...  A00002      0.0        1        13
1           1  A00002  B00005        1  ...  A00002      0.0        4        13
2           1  A00002  B00002        1  ...  A00002      0.0        6        10
3           4  A00002  B00003        1  ...  A00002      3.0        1        20
4           1  A00002  B00001        1  ...  A00002      0.0        0        19

[5 rows x 9 columns]

In [ ]:
data = pd.get_dummies(data)

In [ ]:
print(data.head())

   NumProduct  UniqueA  UniqueB  ...  MostA_A00009  MostA_A00010  MostA_A00011
0           4        1        1  ...             0             0             0
1           7        1        1  ...             0             0             0
2           1        1        1  ...             0             0             0
3           3        1        1  ...             0             0             0
4           2        1        1  ...             0             0             0

[5 rows x 112 columns]

In [ ]:
data.head().to_csv("data.csv")

In [ ]:
data_test = pd.get_dummies(data_test)

In [ ]:
print(data_test.head())

   NumProduct  UniqueA  UniqueB  ...  MostA_A00009  MostA_A00010  MostA_A00011
0           1        1        1  ...             0             0             0
1           1        1        1  ...             0             0             0
2           1        1        1  ...             0             0             0
3           4        1        1  ...             0             0             0
4           1        1        1  ...             0             0             0

[5 rows x 112 columns]

In [ ]:
data_test.head().to_csv("data_test1.csv")

In [ ]:
data.dtypes

NumProduct        int64
UniqueA           int64
UniqueB           int64
duration        float64
weekday           int64
                 ...
MostA_A00007      uint8
MostA_A00008      uint8
MostA_A00009      uint8
MostA_A00010      uint8
MostA_A00011      uint8
Length: 110, dtype: object

In [ ]:
data_test.dtypes

NumProduct        int64
UniqueA           int64
UniqueB           int64
duration        float64
weekday           int64
                 ...
MostA_A00007      uint8
MostA_A00008      uint8
MostA_A00009      uint8
MostA_A00010      uint8
MostA_A00011      uint8
Length: 99, dtype: object

In [ ]:
X = data
X.columns

Index(['NumProduct', 'UniqueA', 'UniqueB', 'duration', 'weekday', 'hour_24h',
       'FirstA_A00001', 'FirstA_A00002', 'FirstA_A00003', 'FirstA_A00004',
       ...
       'MostA_A00002', 'MostA_A00003', 'MostA_A00004', 'MostA_A00005',
       'MostA_A00006', 'MostA_A00007', 'MostA_A00008', 'MostA_A00009',
       'MostA_A00010', 'MostA_A00011'],
      dtype='object', length=112)

In [ ]:



val_size = 0.25
X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size=val_size)
print(X.shape)
print(X_train.shape)
print(X_val.shape)

(10502, 112)
(7876, 112)
(2626, 112)

In [ ]:
X_train

      NumProduct  UniqueA  UniqueB  ...  MostA_A00009  MostA_A00010  MostA_A00011
9116           1        1        1  ...             0             0             0
8283           1        1        1  ...             0             0             0
9583           3        1        3  ...             0             0             0
324            1        1        1  ...             0             0             0
330            1        1        1  ...             0             0             0
...          ...      ...      ...  ...           ...           ...           ...
3024           1        1        1  ...             0             0             0
32             3        1        1  ...             0             0             0
4366           2        1        1  ...             0             0             0
4470           1        1        1  ...             0             0             0
6856           2        1        1  ...             0             0             0

[7876 rows x 112 columns]

In [ ]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X,Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
print("Evalute based on validation set")
print("f1 : " + " %s" % f1_score(Y_val, clf.predict(X_val)))
print("accuracy score" + " %s" % accuracy_score(Y_val, clf.predict(X_val)))
print("recall score micro: " + " %s" % recall_score(Y_val, clf.predict(X_val), average='micro'))
print("recall score macro: " + " %s" % recall_score(Y_val, clf.predict(X_val), average='macro'))

Evalute based on validation set
f1 :  0.8981168517624337
accuracy score 0.8392993145468393
recall score micro:  0.8392993145468393
recall score macro:  0.7566312174128942

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier
from sklearn.ensemble import ExtraTreesClassifier, AdaBoostClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from lightgbm import LGBMClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold, learning_curve, ShuffleSplit
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import VotingClassifier, IsolationForest
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix

In [ ]:
from sklearn import svm
clf1 = svm.SVC(kernel='rbf')
clf1.fit(X_train, Y_train)

In [ ]:
lgbmc = LGBMClassifier(random_state=2, n_estimators=100, colsample_bytree=0.3, 
                       max_depth=3, learning_rate=0.09, boosting_type='gbdt')

In [ ]:
xgbc = XGBClassifier(seed=7, n_jobs=-1, n_estimators=100, random_state=0, max_depth=7, learning_rate=0.1)

In [ ]:
!pip install catboost
from catboost import CatBoostClassifier
cat = CatBoostClassifier(loss_function='MultiClass', 
                         eval_metric='Accuracy', 
                         depth=7,
                         random_seed=42, 
                         iterations=1000, 
                         learning_rate=0.1,
                         leaf_estimation_iterations=1,
                         l2_leaf_reg=1,
                         bootstrap_type='Bayesian', 
                         bagging_temperature=1, 
                         random_strength=1,
                         od_type='Iter', 
                         od_wait=200)

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/94/ec/12b9a42b2ea7dfe5b602f235692ab2b61ee1334ff34334a15902272869e8/catboost-0.22-cp36-none-manylinux1_x86_64.whl (64.4MB)
     |████████████████████████████████| 64.4MB 56kB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Installing collected packages: catboost
Successfully installed catboost-0.22

In [ ]:
cat.fit(X, Y, verbose=50,
        use_best_model=True)

You should provide test set for use best model. use_best_model parameter has been switched to false value.

0:	learn: 0.8703104	total: 54.6ms	remaining: 54.5s
50:	learn: 0.8720244	total: 407ms	remaining: 7.57s
100:	learn: 0.8769758	total: 738ms	remaining: 6.57s
150:	learn: 0.8806894	total: 1.09s	remaining: 6.11s
200:	learn: 0.8830699	total: 1.43s	remaining: 5.67s
250:	learn: 0.8850695	total: 1.76s	remaining: 5.24s
300:	learn: 0.8875452	total: 2.11s	remaining: 4.89s
350:	learn: 0.8895448	total: 2.46s	remaining: 4.54s
400:	learn: 0.8912588	total: 2.81s	remaining: 4.19s
450:	learn: 0.8928775	total: 3.15s	remaining: 3.83s
500:	learn: 0.8952580	total: 3.49s	remaining: 3.48s
550:	learn: 0.8964007	total: 3.83s	remaining: 3.12s
600:	learn: 0.8983051	total: 4.19s	remaining: 2.78s
650:	learn: 0.9011617	total: 4.54s	remaining: 2.44s
700:	learn: 0.9023043	total: 4.9s	remaining: 2.09s
750:	learn: 0.9036374	total: 5.25s	remaining: 1.74s
800:	learn: 0.9047800	total: 5.6s	remaining: 1.39s
850:	learn: 0.9061131	total: 5.96s	remaining: 1.04s
900:	learn: 0.9074462	total: 6.32s	remaining: 694ms
950:	learn: 0.9083984	total: 6.67s	remaining: 344ms
999:	learn: 0.9101124	total: 7.02s	remaining: 0us

In [ ]:
lgbmc.fit(X, Y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=0.3,
               importance_type='split', learning_rate=0.09, max_depth=3,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=2, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
xgbc.fit(X,Y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=7,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=7,
              silent=None, subsample=1, verbosity=1)

In [ ]:
resultsvc = pd.DataFrame(svc.predict(data_test))

In [ ]:
resultcatb = pd.DataFrame(cat.predict(data_test))

In [ ]:
resultxgb = pd.DataFrame(xgb_pred2)

In [ ]:
resultlgm = pd.DataFrame(lgbmc.predict(data_test))

In [ ]:
resultxgbc = pd.DataFrame(xgbc.predict(data_test))

In [ ]:
resultrf = pd.DataFrame(clf.predict(data_test))

In [ ]:
resultcatb

      0
0     1
1     1
2     1
3     1
4     1
...  ..
4508  0
4509  0
4510  0
4511  0
4512  0

[4513 rows x 1 columns]

In [ ]:
resultsvc = resultsvc[0].map({1:'female',0:'male'})

In [ ]:
resultcatb = resultcatb[0].map({1:'female',0:'male'})

In [ ]:
result = result[0].map({1:'female',0:'male'})

In [ ]:
resultlgm = resultlgm[0].map({1:'female',0:'male'})

In [ ]:
resultxgbc = resultxgbc[0].map({1:'female',0:'male'})

In [ ]:
resultrf = resultrf[0].map({1:'female',0:'male'})

In [ ]:
resultcatb.to_csv("resultcatb.csv")

In [ ]:
resultsvc.to_csv("resultsvc.csv")

In [ ]:
resultlgm.to_csv("resultlgm.csv")

In [ ]:
resultxgbc.to_csv("resultxgbc.csv")

In [ ]:
resultrf.to_csv("resultrf.csv")

In [ ]:
result.to_csv("result.csv")